{% extends "layout.html" %}
{% block css %}
    <link href="static/plugin/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/tip-twitter/tip-twitter.css" rel="stylesheet" type="text/css"/>
    <style>
        .zmdi-help-outline {
            margin-left: 10px;
        }

        .main-box {
            border: 1px solid #1c2640;
            padding-bottom: 15px;
        }

        .config-tab {
            width: 100%;
            background-color: #0D182E;
            margin-bottom: 15px;
        }

        .config-tab tr:nth-last-child {
            border-bottom: 1px dotted #1c2640;
        }

        .config-tab tr td {
            font-size: 12px;
            color: #e1e1e1;
            padding: 5px 20px;
        }

        .tab-title {
            font-size: 14px;
            font-weight: 500;
            color: #e1e1e1;
            border-left: 3px solid teal;
            margin: 10px;
            padding-left: 10px;
        }

        .tab-description {
            color: #d9d9d9;
            font-size: 12px;
            padding-left: 10px;
            margin-bottom: 0;
        }

        .btn-update {
            padding: 6px 12px;
            border-radius: 3px;
            margin-bottom: 15px;
        }
    </style>
{% endblock %}

{% block webinfo %}
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-box">
                        <table class="config-tab">
                            <tr>
                                <td>
                                    <div class="tab-title">启用MASSCAN</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="tab-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing e
                                        lit. Commodi debitis delectus deleniti fugiat ipsam minus
                                        nemo nisi sint. Asperiores culpa inventore, modi mollitia
                                        repellat reprehenderit vitae? Deleniti dolorum et ipsam.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;margin-right:50px;">
                                    <button class="btn-info btn-update">更新</button>
                                </td>
                            </tr>
                        </table>
                        <table class="config-tab">
                            <tr>
                                <td>
                                    <div class="tab-title">资产探测周期</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="tab-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing e
                                        lit. Commodi debitis delectus deleniti fugiat ipsam minus
                                        nemo nisi sint. Asperiores culpa inventore, modi mollitia
                                        repellat reprehenderit vitae? Deleniti dolorum et ipsam.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right ">
                                    <button class="btn-info btn-update">更新</button>
                                </td>
                            </tr>
                        </table>
                        <table class="config-tab">
                            <tr>
                                <td>
                                    <div class="tab-title">网络资产探测列表</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="tab-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing e
                                        lit. Commodi debitis delectus deleniti fugiat ipsam minus
                                        nemo nisi sint. Asperiores culpa inventore, modi mollitia
                                        repellat reprehenderit vitae? Deleniti dolorum et ipsam.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right ">
                                    <button class="btn-info btn-update">更新</button>
                                </td>
                            </tr>
                        </table>
                        <table class="config-tab">
                            <tr>
                                <td>
                                    <div class="tab-title">端口探测了列表</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="tab-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing e
                                        lit. Commodi debitis delectus deleniti fugiat ipsam minus
                                        nemo nisi sint. Asperiores culpa inventore, modi mollitia
                                        repellat reprehenderit vitae? Deleniti dolorum et ipsam.
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right ">
                                    <button class="btn-info btn-update">更新</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="static/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="static/plugin/switchery/switchery.min.js"></script>
    <script src="static/plugin/jquery.poshytip.min.js"></script>
    <script src="static/buss/js/config.js"></script>
{% endblock %}
