{% extends "layout.html" %}
{% block css %}
    <link href="static/plugin/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/switchery/switchery.min.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/tip-twitter/tip-twitter.css" rel="stylesheet" type="text/css"/>
    <style>
        .zmdi-help-outline {
            margin-left: 10px;
        }

        html {
            position: relative;
            min-height: 100%;
            background: #172440 !important;
            height: 100%;
        }

        .form-title {
            padding-left: 10px;
            border-left: 3px solid teal;
            font-size: 14px;
        }

        .form-control {
            border: 1px solid rgba(0, 0, 0, 0);
        }

        .card-box {
            padding: 20px;
            box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
            -webkit-border-radius: 0px;
            border-radius: 0px;
            -moz-border-radius: 0px;
            background-clip: padding-box;
            margin-bottom: 20px;
            background-color: #0D182E;
        }

        .form-description {
            background-color: #0D182E;
            border: 1px solid #1c2640;
            color: #868686;
            overflow-x: hidden;
            cursor: pointer;
            border-radius: 4px;
            width: 100%
        }

        .btn-custom {
            background-color: #1d2b48 !important;
        }

        .btn-custom:hover {
            background-color: #1d2b48 !important;
        }

    </style>
{% endblock %}

{% block webinfo %}
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                {% for i in values %}


                    <div class="col-lg-12 col-md-12">

                        <div class="card-box"
                             style=" background-color: #223150; border-radius: 0px;padding: 10px 20px;margin-bottom: 10px;margin-top: 100px">
                            {% if i['type'] == 'Masscan' %}
                                {% if i['value'].split('|')[0] == '0' %}
                                    <h4 style=" padding-left: 10px; border-left: 3px solid teal;padding-right: 20px !important;font-size: 14px">
                                        {{ i['info'] }}
                                        <span style="float: right;">
                                                <input type="checkbox" data-plugin="switchery"
                                                       style="margin-right: 10px"
                                                       data-size="small" data-color="#3bafda"
                                                       id="mastag"/>
                                        </span>
                                    </h4>
                                    <span style="color:#868686;font-size:12px;margin-left:20px;display: block;">{{ i['help'] }}</span>
                                {% else %}
                                    <h4 style="padding-left: 10px; border-left: 3px solid teal;;padding-right: 20px !important;;font-size: 14px">
                                        {{ i['info'] }}
                                        <span style="float: right">
                                                <input type="checkbox" checked
                                                       data-plugin="switchery" data-size="small"
                                                       data-color="#3bafda" id="mastag"/>
                                        </span>
                                    </h4>
                                    <span style="color:#868686;font-size:12px;margin-left:20px;display: block;">{{ i['help'] }}</span>
                                {% endif %}
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               style="background: rgba(7,11,23,0.58);border: 1px solid rgba(25,25,25,0.51);border-radius: 1px;height: 36px;line-height: 36px;color: #868686;"
                                               value="{{ i['value'].split('|')[2] }}"
                                               name={{ i['type'] }} placeholder="路径"/>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control"
                                               style="background: rgba(7,11,23,0.58);border: 1px solid rgba(25,25,25,0.51);border-radius: 1px;height: 36px;line-height: 36px;color: #868686;"
                                               value="{{ i['value'].split('|')[1] }}" id="speed"
                                               placeholder="速率"/>
                                    </div>
                                </div>

                            {% else %}
                                <h4 class="form-title"
                                    style=" padding-left: 10px; border-left: 3px solid teal;">
                                    {{ i['info'] }}
                                </h4>
                                <div class="row" style="padding: 5px 20px">
                                    <div class="col-md-12">
                                        <span style="color:#868686;font-size:12px;margin-left:0px;display: block;margin-bottom: 5px">{{ i['help'] }}</span>
                                        <textarea class="form-description"
                                                  style="background-color:#0D182E;color:#868686;width:100%;" rows="10"
                                                  name={{ i['type'] }}>{{ i['value'] }}</textarea>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row" style="padding-bottom: 20px">
                                <div class="col-md-12">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button type="button"
                                                class="btn btn-primary btn-block btn-md waves-effect waves-light update"
                                                style="margin-top: 20px" inputname={{ i['type'] }}>
                                            开始扫描
                                        </button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>

                        </div>

                    </div>


                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="static/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="static/plugin/switchery/switchery.min.js"></script>
    <script src="static/plugin/jquery.poshytip.min.js"></script>
    <script src="static/buss/js/config.js"></script>
    <script>
        $("#config-hook").css("background-color", "teal");
    </script>
{% endblock %}

