{% extends "layout.html" %}
{% block css %}
    <link href="static/buss/css/plugin.css" rel="stylesheet" type="text/css"/>
    <link href="static/plugin/sweetalert/sweetalert.css" rel="stylesheet" type="text/css"/>
    <link href="static/font_plug/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="static/css/dropify.min.css" rel="stylesheet" type="text/css"/>
    <style>
        html {
            position: relative;
            min-height: 100%;
            background: #172440 !important;
            height: 100%;
        }
    </style>
{% endblock %}

{% block webinfo %}
    <div class="container">
        <div class="row" style="margin-bottom: 20px">
            <div class="col-sm-12">
                <div style="margin-top: 0px">
                    <span style="font-weight: bold;;font-size: 16px">插件总数:
                        <span style="font-size:16px;color:tomato">{{ count }}</span></span>
                </div>
            </div>
        </div>
        <div class="row">
            {% for i in cursor %}
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="portlet" style="background-color:#0D182E;border-radius:0; margin-bottom: 5px">
                        <div class="portlet-heading portlet-default">


                            <div class="label font-13 btn-tag"
                                 style="float:right;margin:0;margin-left: 3px;font-size: 12px !important; ">
                                {{ i['count'] }}
                            </div>

                            {% if i['level'] == '紧急' %}
                                <div class="label font-13 tag-danger" style="margin: 0px;font-size: 12px !important;">
                                    紧急
                                </div>
                            {% elif i['level'] == '高危' %}
                                <div class="label font-13 tag-high" style="margin: 0px;font-size: 12px !important;">高危
                                </div>
                            {% elif i['level'] == '中危' %}
                                <div class="label font-13 tag-middle" style="margin: 0px;font-size: 12px !important;">
                                    中危
                                </div>
                            {% elif i['level'] == '低危' %}
                                <div class="label font-13 tag-low" style="margin: 0px;font-size: 12px !important;">低危
                                </div>
                            {% elif i['level'] == '风险' %}
                                <div class="label font-13 tag-tip" style="margin: 0px;font-size: 12px !important;">风险
                                </div>
                            {% endif %}


                            <a data-toggle="collapse" data-parent="#accordion1" href="#bg-primary{{ loop.index0 }}">
                                <h3 class="portlet-title"
                                    style="border-left:3px solid teal;padding-left:10px;line-height: 20px;font-size: 14px">
                                    {{ i['name'] }}
                                    <image src="/static/images/pluginfo.gif" width="100px" height="20px"
                                           style="float: right;margin-right: 10px;"></image>
                                </h3>
                            </a>


                        </div>

                        <div id="bg-primary{{ loop.index0 }}" class="panel-collapse collapse" style="line-height: 2">
                            <div class="portlet-body" style="background-color:#0f1d38; ">

                                <p style="color:#337ab7!important ;margin-bottom: 0px">
                                    <i class="iconfont"
                                       style="padding-right: 20px;color:#337ab7!important ;">&#xe66b;</i>
                                    <span style="color:#337ab7;">
                                        <a href="/?q={{ i['keyword'] }}"
                                           title="点击打开页面查看"
                                           target="_blank">
                                        {{ i['keyword'] }}
                                        </a>
                                    </span>
                                </p>

                                <p style="color:#337ab7!important;margin-bottom: 0px">
                                    <i class="iconfont" style="padding-right:20px;color:#337ab7!important; ">
                                        &#xe62f;
                                    </i>
                                    <span>
                                        <a href="{{ i['url'] }}"
                                           title="点击打开页面查看"
                                           target="_blank">
                                            {{ i['url'] }}
                                        </a>
                                    </span>
                                </p>
                                <p style="margin-bottom: 0px">
                                    <i class="zmdi zmdi-hc-lg zmdi-info-outline"
                                       style="padding-right: 20px;color:#868686;"></i>
                                    <span style="color:#868686;">{{ i['info'] }}</span>
                                </p>
                                <p style="margin-bottom: 0px">
                                    <i class="iconfont"
                                       style="padding-right: 20px;color:#868686;">&#xe655</i>
                                    <span style="color:#868686;">{{ i['type'] }}</span>
                                </p>
                                <p style="margin-bottom: 0px">
                                    <i class="iconfont"
                                       style="padding-right: 20px;color:#868686;">&#xe616;</i>
                                    <span style="color:#868686;">{{ i['add_time'].strftime('%Y-%m-%d %H:%M:%S') }}</span>
                                </p>
                                <p style="margin-bottom: 0px">
                                    <i class="iconfont"
                                       style="padding-right: 20px;color:#868686;">&#xe605;</i>
                                    <span style="color:#868686;">{{ i['author'] }}</span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if count>60 %}
            <div class="row" style="float:right;">
                <ul class="pagination pagination-split">
                    <li>
                        <a href="javascript:prePage()">
                            <i class="fa fa-angle-left"></i>
                            前一页
                        </a>
                    </li>
                    {% if count % 60 ==0 %}
                        {% for i in range(1,count//60 + 1) %}
                            <li>
                                <a href="javascript:turnTo({{ i }})">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for i in range(1,(count//60) + 2) %}
                            <li>
                                <a href="javascript:turnTo({{ i }})">{{ i }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                    <li>
                        <a href="javascript:nextPage()">后一页<i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="static/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="static/js/dropify.min.js"></script>
    <script src="static/js/ajaxfileupload.js"></script>
    <script src="static/buss/js/plugin.js"></script>
    <script>
        $("#plug-hook").css("background-color", "teal");
    </script>
{% endblock %}
